body {
    background-image: url(../spring02.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-navbar-spring{
    background-color: rgba(0,0,0,0.6);

}

.subject {
    color: #ca1ea2;
    font-size: 20px;
    font-weight: bold;
}